@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: aliceblue;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-top: 20vh;
}

.card-container {
  background-color: rgb(255, 255, 255);
  width: 400px;
  border-radius: 1%;
}

.card-container:hover {
  box-shadow: 0 8px 16px 0px rgba(58, 30, 30, 0.2);
}

.card-header:hover {
  background-color: rgba(238, 238, 238, 0.8);
}

.card-content {
  padding: 1.2rem;
  align-items: center;
}

.card-img:hover {
  opacity: 1;
}

.card-title {
  font-weight: 700;
  font-size: 2rem;
}

.card-subtitle {
  font-size: 1.6rem;
  padding: 0.5rem 0;
  font-weight: 500;
}

.card-description {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.card-footer {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.1rem;
}

a:hover {
  background-color: rgba(240, 240, 240, 0.5);
}

.far,
.fas {
  padding: 2rem;
  border-radius: 50%;
}

.far:hover,
.fas:hover {
  background-color: rgba(240, 240, 240, 0.5);
}
